user=[YOUR_POSTGRESS_USER]
password=[YOUR_POSTGRESS_PASSWORD]
host=[SUPABASE_HOST]
port=[SUPABASE_PORT]
dbname=[SUPABASE_DATABASE_NAME]
zapi_instance=[Z-API_INSTANCE]
zapi_instance_token=[Z-API_INSTANCE_TOKEN]